.header{

	text-align: center;
	height: 300px;
	padding: 12px;
	background-image: url(https://images.assetsdelivery.com/compings_v2/nastasijamal/nastasijamal1611/nastasijamal161100121.jpg);
}

#img{
	width: 200px;
	height: 200px;

}



.main-section{
    margin:0 auto;
    margin-top:10%;
    padding: 10px;
}

.modal-content{
    background-color: rgba(210, 233, 230,0.600) ;
    opacity: .85;
    padding: 10 20px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}


.col-12 p{

    height: 42px;
    font-size: 18px;
    border:0;
    padding-right: 110px;
    border-radius: 5px;
}



#mail-group p{

    height: 42px;
    font-size: 18px;
    border:0;
    padding-right: 200px;
    border-radius: 5px;
}




#cel-group p{

    height: 42px;
    font-size: 18px;
    border:0;
    padding-right: 200px;
    border-radius: 5px;
}


.col-12  a{
    color: #6b8e98; 


    margin-bottom: 35px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:8px;
}

.form-group#user-group::before{
    content: "\f007";
}


.form-group#mail-group::before{
    content: "\f199";
}

.form-group#cel-group::before{
    content: "\f3cd";
}


.form-group#date-group::before{
    content: "\f0ce";
}
